<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<%= link_to 'article list', articles_path %>
<%= render 'form' %>
<%= link_to 'back' , articles_path %>
</body>
</html>